.to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F6E8C;
  width: 100%;
  height: 100vh;
  
  .title {
    font-size: 4rem;
    margin: 1rem;
    color: #FFF;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #84A7A1;
    border-radius: 4px;
    padding-left: 1rem;
    margin-bottom: 1rem;

    label {
      font-size: 1.5rem;
      margin: 1rem;
      color: #FFF;
      font-weight: 600;
    }

    .input-todo {
      display: flex;

      .input-text {
        display: flex;
        width: 70%;
        height: 2.3rem;
        margin: 0 1rem 1rem 1rem;
        font-size: 1.3rem;
        padding-left: .5rem;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #1F6E8C;
        color: #FFF;

        &::placeholder {
          color: #FFF;
        }
      }

      .add-button {
        height: 2.3rem;
        border-radius: 4px;
        outline: none;
        border: none;
        padding: .5rem;
        background-color: #1F6E8C;
        color: #FFF;
        transition: .4s;
        cursor: pointer;

        &:hover {
          background-color: #2E8A99;
        }
      }
    }
  }
}